<div class="jumbotron">
    <div class="row">
        <div class="col">
            <h1 class="display-5">Add ToDo List</h1>
            <p class="lead">Use this tool to add & remove your task.</p>
            <hr class="my-4">
            <p>You can add multiple task for you dialy routien.</p>

            <form>
                <input type="text" class="text form-control" name="projectname" placeholder="Please add task here."
                    [(ngModel)]="projecttext">
                <br>
                <input type="submit" class="btn btn-primary" value="Add Task" (click)="additem()">
            </form>
        </div>

        <div class="col">
            <h1 class="display-5">ToDo List {{ itemcounter }}</h1>
            <p class="lead">The list of all your tasks here.</p>
            <hr class="my-4">
            <p class="project-container" *ngFor="let item of projects; let i = index" (click)="removeitem(i)">{{ item }}
            </p>
        </div>
    </div>
    <br><br><br>
    <p> Example </p>
    <hr>
    <app-persons></app-persons>
</div>